<h1>Сброс пароля</h1>

<p>Здравствуйте, {{ username }}!</p>

<p>
  Вы запросили сброс пароля на нашем сайте. Чтобы продолжить, пожалуйста,
  перейдите по следующей ссылке:
</p>

<p>
  <button
    style="
      background-color: #4caf50;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    "
  >
    <a href="{{ reset_url }}" style="text-decoration: none; color: #fff"
      >Сбросить пароль</a
    >
  </button>
</p>

<p>Если вы не запрашивали сброс пароля, просто игнорируйте это письмо.</p>

<p>
  С уважением,<br />
  Ваш админ =*
</p>
